*{
    background-color: aquamarine;
}
h1, h2{
    text-align: center;
}
#signup-id{
    text-align: center;
}
.login{
    float: right;
    margin-top: -4em;
}
.container{
    margin-top: 5em;
}